.p {
    background-image: linear-gradient(rgb(25, 183, 93), rgb(129, 140, 159));

    min-height: 100vh;
}
.p2 {
    background-color: rgb(24, 123, 63);
}
.for {
    height: 500px;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#viewDiv {
    padding-top: 10px;
    margin-top: 20px;
    margin: 0;
    height: 100%;
    width: 100%;
}

@media (max-width: 576px) {
    #background-video {
        display: none;
    }
    body {
        background: url("../Images/2.jpeg") no-repeat;
        background-size: cover;
    }
    #viewDiv {
        width: 500px;
        height: 500px;
    }
}
